.perf-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #ffffff;
}

.perf-container span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.graph-container {
    background-color: #ffffff;
    position: relative;
    height: 36vh;
    width: 100vw;
    margin-bottom: 36px;
}
.graph-container span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
}
.graph-container .chartjs-size-monitor {
    background-color: #ffffff;
    color: #000000;
}

.load-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
    font-size: 0.8rem;
}

.load-metric-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 20px 0px 40px 0px;
}

.total {
    margin-bottom: 40px !important;
}

.load-metric {
    flex: 1;
    display: flex;
    margin: 0px 20px;
}

.metric-table {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    max-width: 36vw;
}

.metric {
    display: flex;
    justify-content: space-between;
}

.metric-graph {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.paint-stats {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.paint-stats label {
    margin-left: 20px;
}