.header-container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    right: 0;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    max-height: 64px;
    background-color: #151b26;
    min-width: 100%;
    z-index: 10000;
}

.header {
    flex-grow: 1;
    flex-shrink: 1;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0px;
}

.header ul {
    background-color: #151b26;
}
.header img {
    width:54px;
    height: 54px;
}

.header a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
    font-weight: 400;
}

.header span {
    margin: 0px 40px 0px 20px;
    color: #ffffff;
}

.active {
    color: #ffffff;
}

.app-breadcrumb {
    display: flex;
    background-color: #ffffff;
    font-size: 0.8rem;
    color: #8f96a3;
}
.app-breadcrumb .breadcrumb {
    background-color: #ffffff;
    padding: 0.25rem 1rem;
    margin-left: 20px;
    margin-bottom: 0;
}
/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .app-breadcrumb {
        width: 100vw;
        margin: 0;
    }
}
/* Tablets, iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .app-breadcrumb {
        width: 770px;
        margin: 0px auto;
    }
}
/* Desktops and laptops ---------- */
@media screen and (min-width: 1224px){
    .app-breadcrumb {
        width: 990px;
        margin: 0px auto;
    }
}