.about-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 10px 20px;
}
.right-container {
    display: flex;
    flex-direction: column;
}

.about-container h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 20px 20px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
}

.about-body {
    display: flex;
    flex-direction: row;
}

.para {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
}

.me {
    margin: 0px 20px;
    border-radius: 6px;
}

.img-container {
    margin: 0;
}

.icon-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
}

.icon {
    margin: 0px 10px 0px 0px;
    width: 24px;
    height: 24px;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
    font-weight: 600;
}

.sub-titles {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: #8f96a3;
    margin: 6px 0px;
}

.skill {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    color: #8f96a3;
    margin: 6px 6px;
    padding: 6px;
    border-radius: 14px;
    border: 1px solid #8f96a3;
}

.skill:hover {
    color: #000000;
    background-color: #8f96a3;
}

.exp-location {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

div.exp-location div > div {
    max-width: 20vw !important;
    overflow-x: hidden;
}

.exp-location label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
}
.exp {
    flex: 1;
    min-width: 20vw;
    max-width: 20vw;
}
.skill-exps {
    display: flex;
    flex-direction: column;
}
.exp-table {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.exp-table span {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    color: #8f96a3;
}
.location {
    margin-left: 0px;
}