html, body {
  height: 100vh;
  min-height: 100vh;
  margin: 0px;
  background-color: #ebebe0;
  font-family: 'Roboto', sans-serif;
}

#root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

*, *::after {
  box-sizing: border-box;
}

::selection {
  background: #44c0c9;
}

.App {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #ebebe0;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  margin-bottom: 40px;
}

.layout-1 {
  display: flex;
  background-color: #ffffff;
  min-height: 90vh;
}
/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px){
  .layout-1 {
    width: 100vw;
    margin: 0;
  }
}
/* Tablets, iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1024px){
  .layout-1 {
    width: 770px;
    margin: 0px auto;
  }
}
/* Desktops and laptops ---------- */
@media screen and (min-width: 1224px){
  .layout-1 {
    width: 990px;
    margin: 0px auto;
  }
}


.thumbnail-md {
  width: 240px;
  height: 320px;
}

.font-lg {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.left {
  float: left;
}
.performance-btn {
  position: absolute;
  top: 120px;
  right: 30px;
}
.performance-btn a {
  text-decoration: none;
  color: #ffffff;
}
.performance-btn a:hover {
  text-decoration: none;
  color: #ffffff;
}

.base-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px 10px 20px;
}

.base-container h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0px 20px 20px 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  font-style: italic;
}