#chartarea {
    margin-left: 20px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #585858;
}

.chart-container span {
    background: #44c0c9;
}

.tool-tip {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    background-color: #151b26;
    padding: 10px;
}
.tool-tip .tip {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #ffffff;
}